*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #FFFFFF;

}
ul li{
    list-style: none;
}
header{
     background-image: url("./img/background.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
  
   
}
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-header{
    display: flex;
    align-items: center;
    padding: 40px 0;
}
.logo-header span{
    margin-left: 10px;
    letter-spacing: 1px;
    font-size: 26px;
    font-weight: 600;
}
.nav-header ul li{
  display: inline-block;
  margin: 0 52px;
}
.button-header button{
    padding: 18px 34px;
    border-radius: 116px;
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: rgba(255, 255, 255, 0.10);
    color: #FFFFFF;
}
/* thanh điều hướng header */
/* content của header */
.header-content{
    text-align: center;
    padding: 105px 0px;
}
.header-content p:first-child{
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}
.header-content h1{
    text-transform: capitalize;
    color: #FFF;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.6px;
    margin-top: 35px;
}
.header-content p:last-child{
    color: #FFF;
margin:60px 430px ;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
width: 686px;
opacity: 0.6; /* độ mờ của chữ*/

}
.header-button{
    text-align: center;
    padding-bottom: 214px ;
}
.header-button button{
    
    border-radius: 192px;
border: 1px solid rgba(255, 255, 255, 0.69);
background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
padding: 27px 62px;
color: #FFFFFF;
text-transform: capitalize;

}
/* kết thúc phần header content */
/* footer của header */
.footer-header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #f6fbf9;
    padding: 40px;
}
.footer-header img{
    width: 106px;
    height: 32.182px;

}
/* tới phần body */
.body{
    margin: 100px 135px;
    display: flex;
}
.body-nav{
    width: 60%;

}
.body-nav h1{
    color: #253D32;

font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 65px; 
letter-spacing: 0.84px;
}
.body-nav p{
    color: #78847D;
    font-size: 22px;
    font-style: normal;
font-weight: 400;
line-height: 40px; 
margin: 30px 0 40px;
}
.body-nav a{
    color: #A3B938;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
text-decoration-line: underline;
letter-spacing: 2px;

}
.body-logo{
    display: grid;
    grid-template-columns: 35% 35%;
    gap: 80px;
    margin-left: 250px;
}
.logo-cube >*{
  padding: 0 0 25px 0;
}
.logo-cube h3{
    color: #253D32;
  
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo-pyramind h3{
    color: #253D32;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo-glass h3{
    color: #253D32;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo-ball h3{
    color: #253D32;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.logo-cube p{
    color: #78847D;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.logo-pyramind >*{
    padding: 0 0 25px 0;
}
.logo-pyramind p{
    color: #78847D;
 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.logo-ball >*{
    padding: 0 0 25px 0;
}
.logo-ball p{
    color: #78847D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.logo-glass >*{
    padding: 0 0 25px 0;
}
.logo-glass p{
    color: #78847D;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
/* kết thúc body toàn logo */
/* bắt đầu body content */
.section-content{
    margin: 171px 0 195px 185px ;
}
.body-flex{
    display: flex;
    align-items: center;
}
.body-img{
    margin: 0 160px 0 0;
}
.body-img img{
    width: 469px;
    height: 294px;

}
.body-content h1{
    color: #253D32;
    width: 488px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 154.762% */
    letter-spacing: 0.84px;
}
.body-content p{
    color: #78847D;
width: 436px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 181.818% */
margin: 30px 0 50px 0 ;
}
.body-content button{
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 192px;
border: 1px solid rgba(255, 255, 255, 0.69);
background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
color: #FFFFFF;
}
.body-vector{
    margin: 172px 0;
    background-color: #F6FBF9;
    padding: 100px 0;
}
.body-title{
    text-align: center;
}
.body-title h1{
    color: #253D32;

font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 65px; /* 154.762% */
letter-spacing: 0.84px;
}
.body-title p{
    color: #78847D;

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.vector-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.vector-content:not(:last-child){
    margin: 100px 0 50px;
}
.vector-content p{
    width: 15%;
    color: #253D32;
text-align: center;
padding: 20px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 181.818% */
}
.vector-content p:first-child{
    color: #253D32;
text-align: center;
margin-left: 20px;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 181.818% */
}
.body-title > a{
    color: #A3B938;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
text-decoration-line: underline;
}
/* phần title bắt đầu */
.title{
    background-color: #FFFFFF;
    
}
.read{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
 margin: 0 0 60px 0;
 gap: 20px;
}
.read span{
    padding: 0 20px 20px 100px;
   
}
.figure{
    display: flex;
    justify-content: space-around;
    margin-left: 130px;
}
figcaption{
    width: 80%;
    line-height: 30px;

}
figcaption h3{
    color: #253D32;

font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */

}
figcaption p{
    color: #78847D;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin: 16px 0 40px;
}
.anh1{
margin-right: 50px;
}
.anh3{
    margin-right: 130px;
}
.anh1 figcaption > button{
    margin-top: 57px;
    color: #98AA28;
    padding: 20px 30px;
    border-radius: 192px;
border: 1px solid #A3B938;
box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.4px;
text-transform: capitalize;
background-color: #FFFFFF;
}

.anh2 figcaption >button{
    margin-top: 50px;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #A3B938;
}
.anh3 figcaption >button{
    border: none;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #A3B938;
}
